html, body{
	font-family: 'Source Sans Pro';
	font-size: 16px;
	line-height: 1.5em;
}

a{
	text-decoration: none;
}

/*------------*/
/*---NAVBAR---*/
/*------------*/
.topnav {
	padding-top: 1em;
	overflow: hidden;
	background-color: rgba(255,255,255,0);
}

.topnav a {
	font-family: 'Ubuntu';
	font-weight: bold;
	font-size: 1.125em;
	float: left;
	display: block;
	color: #e07299;
	text-align: center;
	padding: 2em 3em;
	text-decoration: none;
} #myTopnav > a:first-child { padding:0em 0em 2em 2em; }

.topnav a:nth-child(4) {display: none;}
.topnav a:nth-child(5) {display: none;}
.topnav .icon { display: none;}
#aboutpage .dropdown {display: none;}
#aboutpage .work {display: block; padding: 2em 0em;}

.dropdown {
	float: left;
	overflow: hidden;
	padding: 2.45em 0;
}

.dropbtn {
	padding: 0;
}

.dropdown .dropbtn { 
	font-family: 'Ubuntu';
	font-weight: bold;
	font-size: 1.125em;  
	border: none;
	outline: none;
	color: #e07299;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 8em;	
	z-index: 2;
	background-color: rgba(255,255,255,0.85);
}

.dropdown-content a {
	float: none;
	color: #e07299;
	padding: 0.5em 0em;
	text-decoration: none;
	display: block;
	text-align: left;
	padding-left: 0.75em;
} .dropdown-content a:first-child {padding-top: 1em;}

.topnav a:hover, .dropdown:hover .dropbtn {
	background-color: rgba(255,255,255,0);
	color: #e07299;
}

.dropdown-content a:hover {
	background-color: rgba(255,255,255,1);
	color: #e07299;
}

.dropdown:hover .dropdown-content { display: block;}
.topnav-right { float: right; }
.topnav-right a:first-child { padding: 2em 0em; }

@media screen and (max-width: 1080px) {
	.topnav-right { display:none; }
	#aboutpage .work {display: none;}
	.topnav a:not(:first-child), .dropdown .dropbtn { display: none;}
	.topnav a.icon {
		float: right;
		display: block;
		padding: 2em 3em;
	}

	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
		padding-top: 2.9em;
	}
	
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	
	.topnav.responsive .dropdown {float: none;}
	.topnav.responsive .dropdown-content {position: relative;}
	.topnav.responsive .dropdown .dropbtn {
		display: block;
		width: 100%;
		text-align: left;
	}

	.dropdown .dropbtn { padding: 0em 3em;}
	.dropdown-content a { padding: 1em 3em;}
	.dropdown-content a:first-child {padding: 1em 3em;}
}

.home-icon { width: 5em; height: 5em; }
.links-icon { width: 1em; height: 1em; }

/*------------*/
/*---ABOUT----*/
/*------------*/
.about-header {
	font-family: 'Ubuntu';
	font-weight: bold;
	font-size: 2.5em;
	line-height: 135%;
	color: #68a660;
}

.about-desc {
	line-height: 150%;
	color: #68a660;
	padding-top: 2.33em;
}

.about-contacts {
	line-height: 140%;
	color: #e07299;
}

.about-contacts a:link {
	text-decoration: underline;
	color: #e07299;
}

.about-contacts a:visited {
	text-decoration: none;
	color: #e07299;
}

.about-contacts a:hover {
	text-decoration: none;
	color: #e07299;
}

.about-contacts a:active {
	text-decoration: none;
	color: #e07299;
}


@media screen and (max-width: 1079px) {
	.about-header  {
		padding-top: 1em;
		font-size: 5em;
		line-height: 150%;
	}

	.about-desc {
		padding-top: 5em;
		font-size: 0.75em;
	}

	.about-contacts {
		font-size: 0.75em;
	}
}

/*------------*/
/*--GALLERY---*/
/*------------*/
/*https://codepen.io/kathykato/pen/KRQOKY*/

.gallery { padding: 0em; }

.img-container {
	height: 20em;
	cursor: pointer;
	overflow: hidden;
}

.title {
	font-family: 'Ubuntu';
	font-weight: bold;
	font-size: 1.125em;
	color: #e07299;
}

.description {
	font-family: 'Source Sans Pro';
	font-size: 1em;
	color: #68a660;
}

.img-content { display: none; }

@media screen and (max-width: 1079px) {
	img:hover { transform: none; }
	.img-container {
		height: 100%;
	}
	.img-content {
		display: block;
		padding: 0.5em 0em 1.5em 0em;
	}
}

/*------------*/
/*--EXPAND---*/
/*------------*/

.modal {
	display: none;
	position: fixed;
	z-index: 3;
	padding: 1em 0em;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.85);
}

.modal-content {
	position: relative;
	display: block;
}

.slide { display: none; }
.image-slide {
	height: 95vh;
	width: auto;
}

.close {
	font-family: 'Ubuntu';
	font-weight: bold;
	font-size: 2em;
	color: white;
	position: absolute;
	top: 1em;
	right: 1em;
	z-index:3;
} .close:hover, .close:focus { cursor: pointer; }

@media screen and (max-width: 1079px) {
	.image-slide {
		margin-top: 10vh;
		max-width: 95vw;
		max-height: 95vh;
		height: auto;
	}
}

@media screen and (max-width: 720px) {
	.image-slide {
		margin-top: 20vh;
	}
}

/*------------*/
/*--Test---*/
/*------------*/

.content {
	position: relative;
	overflow: hidden;
}

.content-image{
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: 50% 0px;
}

.content .content-overlay {
	background: rgba(26,13,24,0.66);
	position: absolute;
	height: auto;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
	opacity: 1;
}

.content-details {
	position: absolute;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
  
.content:hover .content-details{
	top: 50%;
	left: 50%;
	opacity: 1;
}

.content-details p{
	color: #A9F097;
}

.overlay-title{
	font-family: 'Ubuntu';
	font-weight: bold;
	font-size: 1.25em;
	color: #A9F097;
}

.overlay-desc{
	font-family: 'Source Sans Pro';
	font-size: 1em;
	color: #A9F097;
}

@media screen and (max-width: 1079px) {
	.content .content-overlay{ display: none; }
	.content-details{ display: none; }
}

@media screen and (min-width: 1920px) {
	.content-image { object-position: 50% -75px; }
}